<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="hear" class="com.bis.mi.SpringCore_DI_autowireByName.Hear">
    </bean>
    <bean id="ear" class="com.bis.mi.SpringCore_DI_autowireByName.Ear" autowire="byName"/>
</beans>